<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="10">

    <listeners>
        <listener class-name="com.virtualassistance.baseclass.utilities.ListernerClass"/>
    </listeners>
    <test name="WelcomeScreenChrome">
        <parameter name="browser" value="Chrome" />
        <classes>
            <class name="com.virtualassistance.baseclass.Testsuites.WelcomeScreen"/>
        </classes>
    </test>


</suite>

